openapi: 3.2.0
info:
  title: Uphold KYC API
  version: 0.1.0
  description: 'Operations tagged KYC across 2 of this provider''s published API definitions: uphold-core-api-openapi.json, uphold-widgets-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.enterprise.sandbox.uphold.com
  description: Sandbox
- url: https://api.enterprise.uphold.com
  description: Production
security:
- OAuth2: []
tags:
- name: KYC
  description: Individual User's KYC.
paths:
  /core/kyc:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    get:
      operationId: core.get-kyc-overview
      summary: Get overview
      description: Get the KYC overview of a user.
      tags:
      - KYC
      x-uphold:
        security:
          OAuth2:
            subjects:
            - user:individual
      security:
      - OAuth2:
        - core.kyc:read
      parameters:
      - $ref: '#/components/parameters/get-kyc-overview-detailed'
      - $ref: '#/components/parameters/accept-language'
      - $ref: '#/components/parameters/x-on-behalf-of'
      - $ref: '#/components/parameters/x-uphold-user-ip'
      - $ref: '#/components/parameters/x-uphold-user-agent'
      - $ref: '#/components/parameters/x-uphold-user-origin'
      - $ref: '#/components/parameters/x-uphold-user-country'
      - $ref: '#/components/parameters/x-uphold-user-subdivision'
      - $ref: '#/components/parameters/x-uphold-user-city'
      responses:
        '200':
          $ref: '#/components/responses/get-kyc-overview-response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/get-kyc-overview-conflict-response'
        '429':
          $ref: '#/components/responses/too-many-requests'
  /core/kyc/processes/profile:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    patch:
      operationId: core.update-kyc-profile
      summary: Update profile
      description: Update the profile process for a user.
      tags:
      - KYC
      x-uphold:
        security:
          OAuth2:
            subjects:
            - user:individual
      security:
      - OAuth2:
        - core.kyc.profile:update
      parameters:
      - $ref: '#/components/parameters/x-on-behalf-of'
      - $ref: '#/components/parameters/x-uphold-user-ip'
      - $ref: '#/components/parameters/x-uphold-user-agent'
      - $ref: '#/components/parameters/x-uphold-user-origin'
      - $ref: '#/components/parameters/x-uphold-user-country'
      - $ref: '#/components/parameters/x-uphold-user-subdivision'
      - $ref: '#/components/parameters/x-uphold-user-city'
      requestBody:
        $ref: '#/components/requestBodies/update-kyc-profile-request-body'
      responses:
        '200':
          $ref: '#/components/responses/update-kyc-profile-response'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/update-kyc-profile-conflict-response'
        '429':
          $ref: '#/components/responses/too-many-requests'
  /core/kyc/processes/address:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    patch:
      operationId: core.update-kyc-address
      deprecated: true
      summary: Update address
      description: Update the address process for a user.
      tags:
      - KYC
      x-uphold:
        security:
          OAuth2:
            subjects:
            - user:individual
      security:
      - OAuth2:
        - core.kyc.address:update
      parameters:
      - $ref: '#/components/parameters/x-on-behalf-of'
      - $ref: '#/components/parameters/x-uphold-user-ip'
      - $ref: '#/components/parameters/x-uphold-user-agent'
      - $ref: '#/components/parameters/x-uphold-user-origin'
      - $ref: '#/components/parameters/x-uphold-user-country'
      - $ref: '#/components/parameters/x-uphold-user-subdivision'
      - $ref: '#/components/parameters/x-uphold-user-city'
      requestBody:
        $ref: '#/components/requestBodies/update-kyc-address-request-body'
      responses:
        '200':
          $ref: '#/components/responses/update-kyc-address-response'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/update-kyc-address-conflict-response'
        '429':
          $ref: '#/components/responses/too-many-requests'
  /core/kyc/processes/email:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    patch:
      operationId: core.update-kyc-email
      summary: Update email
      description: Update the email process for a user.
      tags:
      - KYC
      x-uphold:
        security:
          OAuth2:
            subjects:
            - user:individual
      security:
      - OAuth2:
        - core.kyc.email:update
      parameters:
      - $ref: '#/components/parameters/x-on-behalf-of'
      - $ref: '#/components/parameters/x-uphold-user-ip'
      - $ref: '#/components/parameters/x-uphold-user-agent'
      - $ref: '#/components/parameters/x-uphold-user-origin'
      - $ref: '#/components/parameters/x-uphold-user-country'
      - $ref: '#/components/parameters/x-uphold-user-subdivision'
      - $ref: '#/components/parameters/x-uphold-user-city'
      requestBody:
        $ref: '#/components/requestBodies/update-kyc-email-request-body'
      responses:
        '200':
          $ref: '#/components/responses/update-kyc-email-response'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/update-kyc-email-conflict-response'
        '429':
          $ref: '#/components/responses/too-many-requests'
  /core/kyc/processes/phone:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    patch:
      operationId: core.update-kyc-phone
      summary: Update phone
      description: Update the phone process for a user.
      tags:
      - KYC
      x-uphold:
        security:
          OAuth2:
            subjects:
            - user:individual
      security:
      - OAuth2:
        - core.kyc.phone:update
      parameters:
      - $ref: '#/components/parameters/x-on-behalf-of'
      - $ref: '#/components/parameters/x-uphold-user-ip'
      - $ref: '#/components/parameters/x-uphold-user-agent'
      - $ref: '#/components/parameters/x-uphold-user-origin'
      - $ref: '#/components/parameters/x-uphold-user-country'
      - $ref: '#/components/parameters/x-uphold-user-subdivision'
      - $ref: '#/components/parameters/x-uphold-user-city'
      requestBody:
        $ref: '#/components/requestBodies/update-kyc-phone-request-body'
      responses:
        '200':
          $ref: '#/components/responses/update-kyc-phone-response'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/update-kyc-phone-conflict-response'
        '429':
          $ref: '#/components/responses/too-many-requests'
  /core/kyc/processes/identity:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    patch:
      operationId: core.update-kyc-identity
      summary: Update identity
      description: Update the identity process for a user.
      tags:
      - KYC
      security:
      - OAuth2:
        - core.kyc.identity:update
      x-uphold:
        security:
          OAuth2:
            subjects:
            - user:individual
            includeClient: true
            includeClientOwner: true
      parameters:
      - $ref: '#/components/parameters/x-on-behalf-of'
      - $ref: '#/components/parameters/x-uphold-user-ip'
      - $ref: '#/components/parameters/x-uphold-user-agent'
      - $ref: '#/components/parameters/x-uphold-user-origin'
      - $ref: '#/components/parameters/x-uphold-user-country'
      - $ref: '#/components/parameters/x-uphold-user-subdivision'
      - $ref: '#/components/parameters/x-uphold-user-city'
      requestBody:
        $ref: '#/components/requestBodies/update-kyc-identity-request-body'
      responses:
        '200':
          $ref: '#/components/responses/update-kyc-identity-response'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/update-kyc-identity-not-found-response'
        '409':
          $ref: '#/components/responses/update-kyc-identity-conflict-response'
        '429':
          $ref: '#/components/responses/too-many-requests'
  /core/kyc/processes/proof-of-address:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    patch:
      operationId: core.update-kyc-proof-of-address
      summary: Update proof-of-address
      description: Update the proof-of-address process for a user.
      tags:
      - KYC
      security:
      - OAuth2:
        - core.kyc.proof-of-address:update
      x-uphold:
        security:
          OAuth2:
            subjects:
            - user:individual
            includeClient: true
            includeClientOwner: true
      parameters:
      - $ref: '#/components/parameters/x-on-behalf-of'
      - $ref: '#/components/parameters/x-uphold-user-ip'
      - $ref: '#/components/parameters/x-uphold-user-agent'
      - $ref: '#/components/parameters/x-uphold-user-origin'
      - $ref: '#/components/parameters/x-uphold-user-country'
      - $ref: '#/components/parameters/x-uphold-user-subdivision'
      - $ref: '#/components/parameters/x-uphold-user-city'
      requestBody:
        $ref: '#/components/requestBodies/update-kyc-proof-of-address-request-body'
      responses:
        '200':
          $ref: '#/components/responses/update-kyc-proof-of-address-response'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/update-kyc-proof-of-address-not-found-response'
        '409':
          $ref: '#/components/responses/update-kyc-proof-of-address-conflict-response'
        '429':
          $ref: '#/components/responses/too-many-requests'
  /core/kyc/processes/customer-due-diligence:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    patch:
      operationId: core.update-kyc-customer-due-diligence
      summary: Update customer due diligence
      description: Update the customer due diligence process for a user.
      tags:
      - KYC
      x-uphold:
        security:
          OAuth2:
            subjects:
            - user:individual
      security:
      - OAuth2:
        - core.kyc.customer-due-diligence:update
      parameters:
      - $ref: '#/components/parameters/accept-language'
      - $ref: '#/components/parameters/x-on-behalf-of'
      - $ref: '#/components/parameters/x-uphold-user-ip'
      - $ref: '#/components/parameters/x-uphold-user-agent'
      - $ref: '#/components/parameters/x-uphold-user-origin'
      - $ref: '#/components/parameters/x-uphold-user-country'
      - $ref: '#/components/parameters/x-uphold-user-subdivision'
      - $ref: '#/components/parameters/x-uphold-user-city'
      requestBody:
        $ref: '#/components/requestBodies/update-kyc-customer-due-diligence-request-body'
      responses:
        '200':
          $ref: '#/components/responses/update-kyc-customer-due-diligence-response'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/update-kyc-customer-due-diligence-not-found-response'
        '409':
          $ref: '#/components/responses/update-kyc-customer-due-diligence-conflict-response'
        '429':
          $ref: '#/components/responses/too-many-requests'
  /core/kyc/processes/enhanced-due-diligence:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    patch:
      operationId: core.update-kyc-enhanced-due-diligence
      summary: Update enhanced due diligence
      description: Update the enhanced due diligence process for a user.
      tags:
      - KYC
      x-uphold:
        security:
          OAuth2:
            subjects:
            - user:individual
      security:
      - OAuth2:
        - core.kyc.enhanced-due-diligence:update
      parameters:
      - $ref: '#/components/parameters/x-on-behalf-of'
      - $ref: '#/components/parameters/x-uphold-user-ip'
      - $ref: '#/components/parameters/x-uphold-user-agent'
      - $ref: '#/components/parameters/x-uphold-user-origin'
      - $ref: '#/components/parameters/x-uphold-user-country'
      - $ref: '#/components/parameters/x-uphold-user-subdivision'
      - $ref: '#/components/parameters/x-uphold-user-city'
      requestBody:
        $ref: '#/components/requestBodies/update-kyc-enhanced-due-diligence-request-body'
      responses:
        '200':
          $ref: '#/components/responses/update-kyc-enhanced-due-diligence-response'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/update-kyc-enhanced-due-diligence-not-found-response'
        '409':
          $ref: '#/components/responses/update-kyc-enhanced-due-diligence-conflict-response'
        '429':
          $ref: '#/components/responses/too-many-requests'
  /core/kyc/processes/crypto-risk-assessment:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    patch:
      operationId: core.update-kyc-crypto-risk-assessment
      summary: Update crypto risk assessment
      description: Update the crypto risk assessment process for a user.
      tags:
      - KYC
      x-uphold:
        security:
          OAuth2:
            subjects:
            - user:individual
      security:
      - OAuth2:
        - core.kyc.crypto-risk-assessment:update
      parameters:
      - $ref: '#/components/parameters/accept-language'
      - $ref: '#/components/parameters/x-on-behalf-of'
      - $ref: '#/components/parameters/x-uphold-user-ip'
      - $ref: '#/components/parameters/x-uphold-user-agent'
      - $ref: '#/components/parameters/x-uphold-user-origin'
      - $ref: '#/components/parameters/x-uphold-user-country'
      - $ref: '#/components/parameters/x-uphold-user-subdivision'
      - $ref: '#/components/parameters/x-uphold-user-city'
      requestBody:
        $ref: '#/components/requestBodies/update-kyc-crypto-risk-assessment-request-body'
      responses:
        '200':
          $ref: '#/components/responses/update-kyc-crypto-risk-assessment-response'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/update-kyc-crypto-risk-assessment-not-found-response'
        '409':
          $ref: '#/components/responses/update-kyc-crypto-risk-assessment-conflict-response'
        '429':
          $ref: '#/components/responses/too-many-requests'
  /core/kyc/processes/self-categorization-statement:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    patch:
      operationId: core.update-kyc-self-categorization-statement
      summary: Update self-categorization statement
      description: Update the self-categorization statement process for a user.
      tags:
      - KYC
      x-uphold:
        security:
          OAuth2:
            subjects:
            - user:individual
      security:
      - OAuth2:
        - core.kyc.self-categorization-statement:update
      parameters:
      - $ref: '#/components/parameters/accept-language'
      - $ref: '#/components/parameters/x-on-behalf-of'
      - $ref: '#/components/parameters/x-uphold-user-ip'
      - $ref: '#/components/parameters/x-uphold-user-agent'
      - $ref: '#/components/parameters/x-uphold-user-origin'
      - $ref: '#/components/parameters/x-uphold-user-country'
      - $ref: '#/components/parameters/x-uphold-user-subdivision'
      - $ref: '#/components/parameters/x-uphold-user-city'
      requestBody:
        $ref: '#/components/requestBodies/update-kyc-self-categorization-statement-request-body'
      responses:
        '200':
          $ref: '#/components/responses/update-kyc-self-categorization-statement-response'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/update-kyc-self-categorization-statement-not-found-response'
        '409':
          $ref: '#/components/responses/update-kyc-self-categorization-statement-conflict-response'
        '429':
          $ref: '#/components/responses/too-many-requests'
  /core/kyc/processes/tax-details:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    patch:
      operationId: core.update-kyc-tax-details
      summary: Update tax details
      description: Update the tax details process for a user.
      tags:
      - KYC
      x-uphold:
        security:
          OAuth2:
            subjects:
            - user:individual
      security:
      - OAuth2:
        - core.kyc.tax-details:update
      parameters:
      - $ref: '#/components/parameters/x-on-behalf-of'
      - $ref: '#/components/parameters/accept-language'
      requestBody:
        $ref: '#/components/requestBodies/update-kyc-tax-details-request-body'
      responses:
        '200':
          $ref: '#/components/responses/update-kyc-tax-details-response'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/update-kyc-tax-details-conflict-response'
        '429':
          $ref: '#/components/responses/too-many-requests'
  /widgets/kyc/sessions:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    post:
      operationId: widgets.create-kyc-widget-session
      summary: Create session
      description: Create a new session for the KYC Widget.
      tags:
      - KYC
      x-uphold:
        security:
          OAuth2:
            subjects:
            - user:individual
      security:
      - OAuth2:
        - widgets.kyc.sessions:create
      parameters:
      - $ref: '#/components/parameters/x-on-behalf-of'
      - $ref: '#/components/parameters/x-uphold-user-ip'
      - $ref: '#/components/parameters/x-uphold-user-agent'
      - $ref: '#/components/parameters/x-uphold-user-origin'
      - $ref: '#/components/parameters/x-uphold-user-country'
      - $ref: '#/components/parameters/x-uphold-user-subdivision'
      - $ref: '#/components/parameters/x-uphold-user-city'
      requestBody:
        $ref: '#/components/requestBodies/create-kyc-widget-session-request-body'
      responses:
        '201':
          $ref: '#/components/responses/create-kyc-widget-session-response'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '409':
          $ref: '#/components/responses/create-kyc-widget-session-conflict-response'
        '429':
          $ref: '#/components/responses/too-many-requests'
webhooks:
  core.kyc.profile.status-changed:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    post:
      operationId: core.kyc-profile-status-changed
      summary: Profile Status Changed
      description: The profile status has been changed.
      tags:
      - KYC
      parameters:
      - $ref: '#/components/parameters/webhook-id'
      - $ref: '#/components/parameters/webhook-timestamp'
      - $ref: '#/components/parameters/webhook-signature'
      requestBody:
        description: KYC profile status changed event.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kyc-webhook-event'
            examples:
              KYC Profile Status Changed:
                value:
                  id: 123e4567-e89b-12d3-a456-426614174000
                  type: core.kyc.profile.status-changed
                  createdAt: '2021-01-01T00:00:00.000Z'
                  data:
                    status: ok
                    userId: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
  core.kyc.email.status-changed:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    post:
      operationId: core.kyc-email-status-changed
      summary: Email Status Changed
      description: The email status has been changed.
      tags:
      - KYC
      parameters:
      - $ref: '#/components/parameters/webhook-id'
      - $ref: '#/components/parameters/webhook-timestamp'
      - $ref: '#/components/parameters/webhook-signature'
      requestBody:
        description: KYC email status changed event.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kyc-webhook-event'
            examples:
              KYC Email Status Changed:
                value:
                  id: 123e4567-e89b-12d3-a456-426614174000
                  type: core.kyc.email.status-changed
                  createdAt: '2021-01-01T00:00:00.000Z'
                  data:
                    status: ok
                    userId: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
  core.kyc.phone.status-changed:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    post:
      operationId: core.kyc-phone-status-changed
      summary: Phone Status Changed
      description: The phone status has been changed.
      tags:
      - KYC
      parameters:
      - $ref: '#/components/parameters/webhook-id'
      - $ref: '#/components/parameters/webhook-timestamp'
      - $ref: '#/components/parameters/webhook-signature'
      requestBody:
        description: KYC phone status changed event.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kyc-webhook-event'
            examples:
              KYC Phone Status Changed:
                value:
                  id: 123e4567-e89b-12d3-a456-426614174000
                  type: core.kyc.phone.status-changed
                  createdAt: '2021-01-01T00:00:00.000Z'
                  data:
                    status: ok
                    userId: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
  core.kyc.address.status-changed:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    post:
      operationId: core.kyc-address-status-changed
      summary: Address Status Changed
      description: The address status has been changed.
      tags:
      - KYC
      parameters:
      - $ref: '#/components/parameters/webhook-id'
      - $ref: '#/components/parameters/webhook-timestamp'
      - $ref: '#/components/parameters/webhook-signature'
      requestBody:
        description: KYC address status changed event.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kyc-webhook-event'
            examples:
              KYC Address Status Changed:
                value:
                  id: 123e4567-e89b-12d3-a456-426614174000
                  type: core.kyc.address.status-changed
                  createdAt: '2021-01-01T00:00:00.000Z'
                  data:
                    status: ok
                    userId: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
  core.kyc.identity.status-changed:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    post:
      operationId: core.kyc-identity-status-changed
      summary: Identity Status Changed
      description: The identity status has been changed.
      tags:
      - KYC
      parameters:
      - $ref: '#/components/parameters/webhook-id'
      - $ref: '#/components/parameters/webhook-timestamp'
      - $ref: '#/components/parameters/webhook-signature'
      requestBody:
        description: KYC identity status changed event.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kyc-webhook-event'
            examples:
              KYC Identity Status Changed:
                value:
                  id: 123e4567-e89b-12d3-a456-426614174000
                  type: core.kyc.identity.status-changed
                  createdAt: '2021-01-01T00:00:00.000Z'
                  data:
                    status: ok
                    userId: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
  core.kyc.proof-of-address.status-changed:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    post:
      operationId: core.kyc-proof-of-address-status-changed
      summary: Proof-of-address Status Changed
      description: The proof-of-address status has been changed.
      tags:
      - KYC
      parameters:
      - $ref: '#/components/parameters/webhook-id'
      - $ref: '#/components/parameters/webhook-timestamp'
      - $ref: '#/components/parameters/webhook-signature'
      requestBody:
        description: KYC proof-of-address status changed event.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kyc-webhook-event'
            examples:
              KYC Proof-of-address Status Changed:
                value:
                  id: 123e4567-e89b-12d3-a456-426614174000
                  type: core.kyc.proof-of-address.status-changed
                  createdAt: '2021-01-01T00:00:00.000Z'
                  data:
                    status: ok
                    userId: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
  core.kyc.tax-details.status-changed:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    post:
      operationId: core.kyc-tax-details-status-changed
      summary: Tax Details Status Changed
      description: The tax details status has been changed.
      tags:
      - KYC
      parameters:
      - $ref: '#/components/parameters/webhook-id'
      - $ref: '#/components/parameters/webhook-timestamp'
      - $ref: '#/components/parameters/webhook-signature'
      requestBody:
        description: KYC tax details status changed event.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kyc-webhook-event'
            examples:
              KYC Tax Details Status Changed:
                value:
                  id: 123e4567-e89b-12d3-a456-426614174000
                  type: core.kyc.tax-details.status-changed
                  createdAt: '2021-01-01T00:00:00.000Z'
                  data:
                    status: ok
                    userId: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
  core.kyc.customer-due-diligence.status-changed:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    post:
      operationId: core.kyc-customer-due-diligence-status-changed
      summary: Customer Due Diligence Status Changed
      description: The customer due diligence status has been changed.
      tags:
      - KYC
      parameters:
      - $ref: '#/components/parameters/webhook-id'
      - $ref: '#/components/parameters/webhook-timestamp'
      - $ref: '#/components/parameters/webhook-signature'
      requestBody:
        description: KYC customer due diligence status changed event.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kyc-webhook-event'
            examples:
              KYC Customer Due Diligence Status Changed:
                value:
                  id: 123e4567-e89b-12d3-a456-426614174000
                  type: core.kyc.customer-due-diligence.status-changed
                  createdAt: '2021-01-01T00:00:00.000Z'
                  data:
                    status: ok
                    userId: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
  core.kyc.enhanced-due-diligence.status-changed:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    post:
      operationId: core.kyc-enhanced-due-diligence-status-changed
      summary: Enhanced Due Diligence Status Changed
      description: The enhanced due diligence status has been changed.
      tags:
      - KYC
      parameters:
      - $ref: '#/components/parameters/webhook-id'
      - $ref: '#/components/parameters/webhook-timestamp'
      - $ref: '#/components/parameters/webhook-signature'
      requestBody:
        description: KYC enhanced due diligence status changed event.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kyc-webhook-event'
            examples:
              KYC Enhanced Due Diligence Status Changed:
                value:
                  id: 123e4567-e89b-12d3-a456-426614174000
                  type: core.kyc.enhanced-due-diligence.status-changed
                  createdAt: '2021-01-01T00:00:00.000Z'
                  data:
                    status: ok
                    userId: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
  core.kyc.crypto-risk-assessment.status-changed:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    post:
      operationId: core.kyc-crypto-risk-assessment-status-changed
      summary: Crypto Risk Assessment Status Changed
      description: The crypto risk assessment status has been changed.
      tags:
      - KYC
      parameters:
      - $ref: '#/components/parameters/webhook-id'
      - $ref: '#/components/parameters/webhook-timestamp'
      - $ref: '#/components/parameters/webhook-signature'
      requestBody:
        description: KYC crypto risk assessment status changed event.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kyc-webhook-event'
            examples:
              KYC Crypto Risk Assessment Status Changed:
                value:
                  id: 123e4567-e89b-12d3-a456-426614174000
                  type: core.kyc.crypto-risk-assessment.status-changed
                  createdAt: '2021-01-01T00:00:00.000Z'
                  data:
                    status: ok
                    userId: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
  core.kyc.self-categorization-statement.status-changed:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    post:
      operationId: core.kyc-self-categorization-statement-status-changed
      summary: Self Categorization Statement Status Changed
      description: The self categorization statement status has been changed.
      tags:
      - KYC
      parameters:
      - $ref: '#/components/parameters/webhook-id'
      - $ref: '#/components/parameters/webhook-timestamp'
      - $ref: '#/components/parameters/webhook-signature'
      requestBody:
        description: KYC self categorization statement status changed event.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kyc-webhook-event'
            examples:
              KYC Self Categorization Statement Status Changed:
                value:
                  id: 123e4567-e89b-12d3-a456-426614174000
                  type: core.kyc.self-categorization-statement.status-changed
                  createdAt: '2021-01-01T00:00:00.000Z'
                  data:
                    status: ok
                    userId: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
  core.kyc.screening.status-changed:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    post:
      operationId: core.kyc-screening-status-changed
      summary: Screening Status Changed
      description: The screening status has been changed.
      tags:
      - KYC
      parameters:
      - $ref: '#/components/parameters/webhook-id'
      - $ref: '#/components/parameters/webhook-timestamp'
      - $ref: '#/components/parameters/webhook-signature'
      requestBody:
        description: KYC screening status changed event.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kyc-webhook-event'
            examples:
              KYC Screening Status Changed:
                value:
                  id: 123e4567-e89b-12d3-a456-426614174000
                  type: core.kyc.screening.status-changed
                  createdAt: '2021-01-01T00:00:00.000Z'
                  data:
                    status: ok
                    userId: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
  core.kyc.risk.status-changed:
    servers:
    - url: https://api.enterprise.sandbox.uphold.com
      description: Sandbox
    - url: https://api.enterprise.uphold.com
      description: Production
    post:
      operationId: core.kyc-risk-status-changed
      summary: Risk Status Changed
      description: The risk status has been changed.
      tags:
      - KYC
      parameters:
      - $ref: '#/components/parameters/webhook-id'
      - $ref: '#/components/parameters/webhook-timestamp'
      - $ref: '#/components/parameters/webhook-signature'
      requestBody:
        description: KYC risk status changed event.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kyc-webhook-event'
            examples:
              KYC Risk Status Changed:
                value:
                  id: 123e4567-e89b-12d3-a456-426614174000
                  type: core.kyc.risk.status-changed
                  createdAt: '2021-01-01T00:00:00.000Z'
                  data:
                    status: ok
                    userId: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Return a 200 status to indicate that the data was received successfully.
components:
  requestBodies:
    update-kyc-crypto-risk-assessment-request-body:
      content:
        application/json:
          schema:
            type: object
            properties:
              input:
                $ref: '#/components/schemas/kyc-process-input-form-for-request'
              output:
                description: Output of the KYC process.
                type: object
                properties:
                  result:
                    description: The result of the verification.
                    type: string
                    enum:
                    - approved
                    - rejected
                  attempts:
                    description: The attempts state of the verification.
                    type: object
                    properties:
                      used:
                        description: The number of attempts used. Default is 1.
                        type: integer
                        minimum: 1
                      maximum:
                        description: The maximum number of attempts allowed. Default is 5.
                        type: integer
                        minimum: 1
                    default:
                      used: 1
                      maximum: 5
                    required:
                    - used
                    - maximum
                  verifiedAt:
                    description: The date and time of the verification.
                    type: string
                    format: date-time
                required:
                - result
                - attempts
                - verifiedAt
            required:
            - input
          examples:
            Update Process - Uphold-verified:
              value:
                input:
                  formId: 7a0f4229-e3de-4dfd-8f91-9b1308b2dc33
                  answers:
                    decision-making:
                      who-makes-investment-decisions: i_decide
            Update Process - Partner-verified:
              value:
                input:
                  answers:
                    crypto-quiz:
                      decision-making: i_decide
                      loss-tolerance: full_loss_possible
                      volatility-understanding: highly_volatile
                      liquidity-awareness: may_be_delayed
                      regulatory-protection: no_coverage
                      portfolio-allocation: small_share
                      complexity-acknowledgement: complex_and_risky
                output:
                  result: approved
                  attempts:
                    used: 1
                    maximum: 5
                  verifiedAt: '2023-01-01T00:00:00.000Z'
    update-kyc-enhanced-due-diligence-request-body:
      content:
        application/json:
          schema:
            type: object
            properties:
              input:
                description: Input of the KYC process.
                type: object
                properties:
                  media:
                    type: array
                    minItems: 1
                    maxItems: 1
                    items:
                      type: object
                      properties:
                        context:
                          description: The context of the file.
                          type: string
                          enum:
                          - source-of-funds-proof
                        fileId:
                          description: The id of the file.
                          type: string
                          format: uuid
                      required:
                      - context
                      - fileId
                required:
                - media
              output:
                description: Output of the KYC process.
                type: object
                properties:
                  verifiedAt:
                    description: The date and time of the verification.
                    type: string
                    format: date-time
                required:
                - verifiedAt
            required:
            - input
          examples:
            Update Process - Partner-verified:
              value:
                input:
                  media:
                  - context: source-of-funds-proof
                    fileId: 57a3ecf2-5404-4654-9ece-feb504a69f86
                output:
                  verifiedAt: '2020-01-01T00:00:00.000Z'
    update-kyc-identity-request-body:
      content:
        application/json:
          schema:
            type: object
            discriminator:
              propertyName: type
              mapping:
                document-submission: '#/components/schemas/update-kyc-identity-document-submission'
                electronic-verification: '#/components/schemas/update-kyc-identity-electronic-verification'
            oneOf:
            - title: Document submission
              $ref: '#/components/schemas/update-kyc-identity-document-submission'
            - title: Electronic verification
              $ref: '#/components/schemas/update-kyc-identity-electronic-verification'
            required:
            - type
          examples:
            Update Process via Document Submission - Partner-verified:
              value:
                type: document-submission
                input:
                  media:
                  - context: photo-selfie
                    fileId: 470b2192-893f-4ce6-9daa-816d4c319a84
                output:
                  provider: veriff
                  document:
                    type: passport
                    number: 7700225VH
                    country: GB
                    expiresAt: '2026-03-13'
                  person:
                    givenName: John
                    familyName: Doe
                    birthdate: '1987-01-01'
                    gender: male
                  verifiedAt: '2020-01-01T00:00:00.000Z'
            Update Process via Electronic Verification - Partner-verified:
              value:
                type: electronic-verification
                input:
                  data:
                    givenName: John
                    familyName: Doe
                    birthdate: '1987-01-01'
                    citizenshipCountry: GB
                    address:
                      country: GB
                      city: Manchester
                      line1: 1 High Street
                      postalCode: M4 1AA
                output:
                  provider: onfido
                  verifiedAt: '2020-01-01T00:00:00.000Z'
    update-kyc-tax-details-request-body:
      content:
        application/json:
          schema:
            title: Dynamic Form
            description: Dynamic form input following the [JSON Forms](https://jsonforms.io/) specification, enabling progressive disclosure of properties and anytime submissions to keep tax details up to date.
            type: object
            properties:
              input:
                type: object
                additionalProperties: true
                minProperties: 1
                maxProperties: 1
              output:
                $ref: '#/components/schemas/update-kyc-tax-details-request-body-output'
            required:
            - input
          examples:
            Update Process - Uphold-verified:
              value:
                input:
                  taxResidency:
                    countries:
                    - GB
    update-kyc-self-categorization-statement-request-body:
      content:
        application/json:
          schema:
            type: object
            properties:
              input:
                $ref: '#/components/schemas/kyc-process-input-form-for-request'
              output:
                description: Output of the KYC process.
                type: object
                properties:
                  result:
                    description: The result of the verification.
                    type: string
                    enum:
                    - approved
                    - rejected
                  attempts:
                    description: The attempts state of the verification.
                    type: object
                    properties:
                      used:
                        description: The number of attempts used. Default is 1.
                        type: integer
                        minimum: 1
                      maximum:
                        description: The maximum number of attempts allowed. Default is 30.
                        type: integer
                        minimum: 1
                    default:
                      used: 1
                      maximum: 30
                    required:
                    - used
                    - maximum
                  expiresAt:
                    description: The date and time when the verification expires.
                    type: string
                    format: date-time
                  verifiedAt:
                    description: The date and time of the verification.
                    type: string
                    format: date-time
                required:
                - result
                - attempts
                - expiresAt
                - verifiedAt
            required:
            - input
          examples:
            Update Process - Uphold-verified:
              value:
                input:
                  formId: ac33651f-f2d3-47c4-8e8d-06fb87361f5c
                  answers:
                    investor:
                      type: restricted_investor
            Update Process - Partner-verified:
              value:
                input:
                  answers:
                    investor-category:
                      type: high_net_worth_investor
                      annual-income-above-100000: 'yes'
                      annual-income: 120000
                      net-assets-above-250000: 'yes'
                      net-assets: 255000
                output:
                  result: approved
                  attempts:
                    used: 1
                    maximum: 30
                  expiresAt: '2026-01-01T00:00:00.000Z'
                  verifiedAt: '2023-01-01T00:00:00.000Z'
    create-kyc-widget-session-request-body:
      content:
        application/json:
          schema:
            type: object
            discriminator:
              propertyName: flow
              mapping:
                verify: '#/components/schemas/create-kyc-widget-session-verify-flow'
            oneOf:
            - title: Verify
              $ref: '#/components/schemas/create-kyc-widget-session-verify-flow'
          examples:
            Create Verify Session:
              value:
                flow: verify
                processes:
                - identity
                - proof-of-address
    update-kyc-customer-due-diligence-request-body:
      content:
        application/json:
          schema:
            type: object
            properties:
              input:
                $ref: '#/components/schemas/kyc-process-input-form-for-request'
              output:
                description: Output of the KYC process.
                type: object
                properties:
                  score:
                    description: The score of the verification.
                    type: string
                    enum:
                    - low
                    - medium
                    - high
                  expiresAt:
                    description: The date and time when the verification expires.
                    type: string
                    format: date-time
                  verifiedAt:
                    description: The date and time of the verification.
                    type: string
                    format: date-time
                required:
                - score
                - expiresAt
                - verifiedAt
            required:
            - input
          examples:
            Update Process - Uphold-verified:
              value:
                input:
                  formId: ae80271a-a3f0-453b-8dc6-36b777817217
                  answers:
                    intent:
                      expected-activities:
                      - cryptocurrency_investing
                      - deposit_withdraw_crypto
            Update Process - Partner-verified:
              value:
                input:
                  answers:
                    financial-profile:
                      expected-activities:
                      - cryptocurrency_investing
                      source-of-funds: salary
                      annual-income-range: 40000-60000-GBP
                      savings-and-investments-range: 0-5000-GBP
                      employment-status: employed
                      employment-industry: Engineering
                      employment-occupation: Galactic Vibe Curator
                output:
                  score: low
                  expiresAt: '2026-01-01T00:00:00.000Z'
                  verifiedAt: '2023-01-01T00:00:00.000Z'
    update-kyc-proof-of-address-request-body:
      content:
        application/json:
          schema:
            type: object
            discriminator:
              propertyName: type
              mapping:
                electronic-verification: '#/components/schemas/update-kyc-proof-of-address-electronic-verification'
                document-submission: '#/components/schemas/update-kyc-proof-of-address-document-submission'
            oneOf:
            - title: Document submission
              $ref: '#/components/schemas/update-kyc-proof-of-address-document-submission'
            - title: Electronic verification
              $ref: '#/components/schemas/update-kyc-proof-of-address-electronic-verification'
            required:
            - type
          examples:
            Update Process via Document Submission - Partner-verified:
              value:
                type: document-submission
                input:
                  media:
                  - context: address-proof
                    fileId: 459c0447-8916-4bad-bb67-f2354fcfb10b
                output:
                  provider: sumsub
                  person:
                    givenName: John
                    familyName: Doe
                    address:
                      country: GB
                      subdivision: GB-MAN
                      city: Manchester
                      line1: 1 High Street
                      line2: Northern Quarter
                      postalCode: M4 1AA
                  verifiedAt: '2020-01-01T00:00:00.000Z'
            Update Process via Electronic Verification - Partner-verified:
              value:
                type: electronic-verification
                input:
                  data:
                    givenName: John
                    familyName: Doe
                    address:
                      country: GB
                      subdivision: GB-MAN
                      city: Manchester
                      line1: 1 High Street
                      line2: Northern Quarter
                      postalCode: M4 1AA
                output:
                  provider: sumsub
                  verifiedAt: '2020-01-01T00:00:00.000Z'
    update-kyc-email-request-body:
      content:
        application/json:
          schema:
            type: object
            properties:
              input:
                description: Input of the KYC process.
                type: object
                properties:
                  email:
                    description: The email address to be verified.
                    type: string
                    format: email
                    maxLength: 254
                required:
                - email
              output:
                description: Output of the KYC process.
                type: object
                properties:
                  verifiedAt:
                    description: The date and time of the verification.
                    type: string
                    format: date-time
                required:
                - verifiedAt
            required:
            - input
          examples:
            Update Process - Partner-verified:
              value:
                input:
                  email: john.doe@uphold.com
                output:
                  verifiedAt: '2020-01-01T00:00:00.000Z'
            Update Process - Uphold-verified:
              value:
                input:
                  email: john.doe@uphold.com
    update-kyc-phone-request-body:
      content:
        application/json:
          schema:
            type: object
            properties:
              input:
                description: Input of the KYC process.
                type: object
                properties:
                  phone:
                    description: The E.164 formatted phone number to be verified.
                    type: string
                    pattern: ^\+[0-9]{1,15}$
                  country:
                    allOf:
                    - $ref: '#/components/schemas/country-code-for-request'
                    - description: 'The country code of the phone number.


                        It must be a ISO alpha-2 code that is used to disambiguate phone numbers with the same dialing code.'
                required:
                - phone
                - country
              output:
                description: Output of the KYC process.
                type: object
                properties:
                  verifiedAt:
                    description: The date and time of the verification.
                    type: string
                    format: date-time
                required:
                - verifiedAt
            required:
            - input
          examples:
            Update Process - Partner-verified:
              value:
                input:
                  phone: '+447400123456'
                  country: GB
                output:
                  verifiedAt: '2020-01-01T00:00:00.000Z'
            Update Process - Uphold-verified:
              value:
                input:
                  phone: '+447400123456'
                  country: GB
    update-kyc-profile-request-body:
      content:
        application/json:
          schema:
            type: object
            properties:
              input:
                type: object
                minProperties: 1
                dependentSchemas:
                  details:
                    maxProperties: 1
                properties:
                  fullName:
                    allOf:
                    - $ref: '#/components/schemas/string-at-least-two-words-no-edge-spaces'
                    - description: The full legal name.
                      type: string
                      maxLength: 200
                  birthdate:
                    description: The date of birth.
                    type: string
                    format: date
                  birthplace:
                    description: The place of birth.
                    type: object
                    properties:
                      country:
                        allOf:
                        - $ref: '#/components/schemas/country-code-for-request'
                        - description: The country of birth.
                      town:
                        allOf:
                        - $ref: '#/components/schemas/string-no-edge-spaces'
                        - description: The town of birth.
                          type: string
                          minLength: 1
                          maxLength: 100
                    required:
                    - country
                    - town
                  primaryCitizenship:
                    allOf:
                    - $ref: '#/components/schemas/country-code-for-request'
                    - description: The primary citizenship country.
                  citizenshipCountry:
                    deprecated: true
                    allOf:
                    - $ref: '#/components/schemas/country-code-for-request'
                    - description: The citizenship country. Deprecated in favor of primaryCitizenship.
                  otherCitizenships:
                    description: Additional citizenship countries.
                    type: array
                    items:
                      $ref: '#/components/schemas/country-code-for-request'
                  address:
                    description: The address information.
                    type: object
                    additionalProperties: false
                    minProperties: 1
                    properties:
                      subdivision:
                        allOf:
                        - $ref: '#/components/schemas/subdivision-code-for-request'
                        - description: The subdivision of the address.
                      city:
                        allOf:
                        - $ref: '#/components/schemas/string-no-edge-spaces'
                        - description: The city of the address.
                          type: string
                          maxLength: 100
                      line1:
                        allOf:
                        - $ref: '#/components/schemas/string-no-edge-spaces'
                        - description: The first line of the address.
                          type: string
                          maxLength: 150
                      line2:
                        allOf:
                        - $ref: '#/components/schemas/null-or-string-no-edge-spaces'
                        - description: The second line of the address.
                          type:
                          - string
                          - 'null'
                          maxLength: 100
                      postalCode:
                        allOf:
                        - $ref: '#/components/schemas/string-no-edge-spaces'
                        - description: The postal code of the address.
                          type: string
                          maxLength: 20
                  details:
                    deprecated: true
                    description: Dynamic form input following the [JSON Forms](https://jsonforms.io/) specification. Deprecated in favor of the flat profile fields.
                    type: object
                    additionalProperties: true
            required:
            - input
          examples:
            Update Process:
              value:
                input:
                  fullName: John Doe
                  birthdate: '1987-01-01'
                  primaryCitizenship: GB
                  address:
                    city: Manchester
                    line1: 1 High Street
                    line2: Northern Quarter
                    postalCode: M4 1AA
    update-kyc-address-request-body:
      content:
        application/json:
          schema:
            type: object
            properties:
              input:
                description: Input of the KYC process.
                type: object
                properties:
                  address:
                    description: The address information.
                    type: object
                    additionalProperties: false
                    minProperties: 1
                    properties:
                      subdivision:
                        allOf:
                        - $ref: '#/components/schemas/subdivision-code-for-request'
                        - description: The subdivision of the address.
                      city:
                        allOf:
                        - $ref: '#/components/schemas/string-no-edge-spaces'
                        - description: The city of the address.
                          type: string
                          maxLength: 100
                      line1:
                        allOf:
                        - $ref: '#/components/schemas/string-no-edge-spaces'
                        - description: The first line of the address.
                          type: string
                          maxLength: 150
                      line2:
                        allOf:
                        - $ref: '#/components/schemas/null-or-string-no-edge-spaces'
                        - description: The second line of the address.
                          type:
                          - string
                          - 'null'
                          maxLength: 100
                      postalCode:
                        allOf:
                        - $ref: '#/components/schemas/string-no-edge-spaces'
                        - description: The postal code of the address.
                          type: string
                          maxLength: 20
                required:
                - address
            required:
            - input
          examples:
            Update Process:
              value:
                input:
                  address:
                    subdivision: GB-MAN
                    city: Manchester
                    line1: 1 High Street
                    line2: Northern Quarter
                    postalCode: M4 1AA
  parameters:
    x-on-behalf-of:
      name: X-On-Behalf-Of
      description: The subject on whose behalf the operation is being performed.
      in: header
      schema:
        type: string
        pattern: ^(user|client)\s[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[089ab][0-9a-f]{3}-[0-9a-f]{12}$
      examples:
        User Identifier:
          value: user cd21b26d-35d2-408a-9201-b8fdbef7a604
        Client Identifier:
          value: client 3fa85f64-5717-4562-b3fc-2c963f66afa6
    x-uphold-user-city:
      name: X-Uphold-User-City
      description: Contains the name of the city of the end user that is requesting the operation.
      in: header
      schema:
        $ref: '#/components/schemas/string-no-edge-spaces'
      examples:
        User City:
          value: San Francisco
    x-uphold-user-origin:
      name: X-Uphold-User-Origin
      description: Contains the origin of the request made by the end user.
      in: header
      schema:
        $ref: '#/components/schemas/string-no-edge-spaces'
      examples:
        Origin:
          value: https://uphold.com
    webhook-id:
      name: webhook-id
      description: The unique identifier of the webhook.
      in: header
      required: true
      schema:
        type: string
      examples:
        Webhook ID:
          value: msg_p5jXN8AQM9LWM0D4loKWxJek
    webhook-timestamp:
      name: webhook-timestamp
      description: The timestamp of the webhook, in seconds after the Unix epoch.
      in: header
      required: true
      schema:
        type: integer
      examples:
        Webhook Timestamp:
          value: 1614265330
    x-uphold-user-ip:
      name: X-Uphold-User-Ip
      description: Contains the IP of the end user that is requesting the operation.
      in: header
      schema:
        oneOf:
        - title: IPv4
          type: string
          format: ipv4
        - title: IPv6
          type: string
          format: ipv6
      examples:
        User Ip:
          value: 47.174.97.164
    get-kyc-overview-detailed:
      name: detailed
      in: query
      description: Include detailed information about the specified KYC processes. Use this sparingly as its more expensive to retrieve.
      explode: false
      schema:
        type: array
        maxItems: 20
        uniqueItems: true
        items:
          type: string
          enum:
          - profile
          - address
          - email
          - phone
          - identity
          - proofOfAddress
          - customerDueDiligence
          - enhancedDueDiligence
          - cryptoRiskAssessment
          - selfCategorizationStatement
          - taxDetails
          - screening
          - risk
      examples:
        Detailed KYC Processes:
          value:
          - identity
          - proofOfAddress
    accept-language:
      name: Accept-Language
      description: The natural language and locale that the client prefers.
      in: header
      schema:
        type: string
      examples:
        English (UK):
          value: en-GB
    x-uphold-user-country:
      name: X-Uphold-User-Country
      description: Contains the code of the country of the end user that is requesting the operation.
      in: header
      schema:
        $ref: '#/components/schemas/country-code-for-request'
      examples:
        User Country:
          value: US
    x-uphold-user-agent:
      name: X-Uphold-User-Agent
      description: Contains the user agent of the end user that is requesting the operation.
      in: header
      schema:
        $ref: '#/components/schemas/string-no-edge-spaces'
      examples:
        User Agent:
          value: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36
    webhook-signature:
      name: webhook-signature
      description: The signature of the webhook.
      in: header
      required: true
      schema:
        type: string
      examples:
        Webhook Signature:
          value: v1,Hw8/adTzfYtjPGhuBahfmGhUROG3AvEKH3mvkeK791Q=
    x-uphold-user-subdivision:
      name: X-Uphold-User-Subdivision
      description: Contains the code of the subdivision of the end user that is requesting the operation.
      in: header
      schema:
        $ref: '#/components/schemas/subdivision-code-for-request'
      examples:
        User Subdivision:
          value: US-CA
  schemas:
    update-kyc-identity-electronic-verification:
      type: object
      properties:
        type:
          description: The identity submission type.
          type: string
          enum:
          - electronic-verification
        input:
          description: Input of the KYC process.
          type: object
          properties:
            data:
              description: The declared data used to verify the process.
              type: object
              properties:
                givenName:
                  allOf:
                  - $ref: '#/components/schemas/string-no-edge-spaces'
                  - description: The given name.
                    type: string
                    maxLength: 200
                familyName:
                  allOf:
                  - $ref: '#/components/schemas/string-no-edge-spaces'
                  - description: The family name or surname.
                    type: string
                    maxLength: 200
                birthdate:
                  description: The date of birth.
                  type: string
                  format: date
                citizenshipCountry:
                  allOf:
                  - $ref: '#/components/schemas/country-code-for-request'
                  - description: The citizenship country.
                gender:
                  description: The gender.
                  type: string
                  enum:
                  - female
                  - male
                address:
                  allOf:
                  - $ref: '#/components/schemas/address-for-request'
                  - type: object
                    required:
                    - country
              required:
              - givenName
              - birthdate
              - citizenshipCountry
          required:
          - data
        output:
          description: Output of the KYC process.
          type: object
          properties:
            provider:
              allOf:
              - $ref: '#/components/schemas/string-no-edge-spaces'
              - description: The provider used to verify the KYC process.
                type: string
                maxLength: 100
            verifiedAt:
              description: The date and time of the verification.
              type: string
              format: date-time
          required:
          - provider
          - verifiedAt
      required:
      - type
      - input
    kyc-crypto-risk-assessment:
      type: object
      properties:
        code:
          description: The code of the KYC process.
          type: string
        status:
          $ref: '#/components/schemas/kyc-process-status'
        verification:
          $ref: '#/components/schemas/kyc-process-verification'
        input:
          $ref: '#/components/schemas/kyc-process-input-form'
        output:
          description: Output of the KYC process.
          type: object
          properties:
            result:
              description: The result of the verification.
              type: string
              enum:
              - approved
              - rejected
            attempts:
              description: The attempts state of the verification.
              type: object
              properties:
                used:
                  description: The number of attempts used.
                  type: integer
                maximum:
                  description: The maximum number of attempts.
                  type: integer
                retryAt:
                  description: The date and time when the next attempt is allowed.
                  type: string
                  format: date-time
              required:
              - used
              - maximum
            offboard:
              description: The offboarding state of the verification.
              type: object
              properties:
                completedAt:
                  description: The date and time when the offboarding was completed.
                  type: string
                  format: date-time
                endsAt:
                  description: The date and time when the offboard ends.
                  type: string
                  format: date-time
              required:
              - endsAt
            verifiedAt:
              description: The date and time of the verification.
              type: string
              format: date-time
          required:
          - result
          - attempts
        hint:
          $ref: '#/components/schemas/kyc-process-hint-form'
      required:
      - code
      - status
    kyc-customer-due-diligence:
      type: object
      properties:
        code:
          description: The code of the KYC process.
          type: string
        status:
          $ref: '#/components/schemas/kyc-process-status'
        verification:
          $ref: '#/components/schemas/kyc-process-verification'
        input:
          $ref: '#/components/schemas/kyc-process-input-form'
        output:
          description: Output of the KYC process.
          type: object
          properties:
            score:
              type: string
              enum:
              - low
              - medium
              - high
              description: The score of the verification.
            expiresAt:
              type: string
              format: date-time
              description: The date and time when the verification expires.
            verifiedAt:
              description: The date and time of the verification.
              type: string
              format: date-time
        hint:
          $ref: '#/components/schemas/kyc-process-hint-form'
      required:
      - code
      - status
    kyc-identity-electronic-verification:
      title: Electronic Verification
      type: object
      properties:
        code:
          description: The code of the KYC process.
          type: string
        status:
          $ref: '#/components/schemas/kyc-process-status'
        type:
          description: The identity submission type.
          type: string
          enum:
          - electronic-verification
        verification:
          allOf:
          - $ref: '#/components/schemas/kyc-process-verification'
          - type: object
            properties:
              submittable:
                description: Whether this process currently accepts a new submission.
                type: boolean
            required:
            - submittable
        input:
          description: Input of the KYC process.
          type: object
          properties:
            data:
              description: The declared data used to verify the process.
              type: object
              properties:
                givenName:
                  description: The given name.
                  type: string
                familyName:
                  description: The family name or surname.
                  type: string
                birthdate:
                  description: The date of birth.
                  type: string
                  format: date
                citizenshipCountry:
                  description: The citizenship country.
                  type: string
                gender:
                  description: The gender.
                  type: string
                  enum:
                  - female
                  - male
                address:
                  allOf:
                  - $ref: '#/components/schemas/address'
                  - type: object
                    required:
                    - country
              required:
              - givenName
              - birthdate
              - citizenshipCountry
          required:
          - data
        output:
          description: Output of the KYC process.
          type: object
          properties:
            provider:
              description: The provider used to verify the KYC process.
              type: string
            reason:
              description: The reason associated with the verification.
              type: string
              enum:
              - data-mismatch
              - duplicate
              - missing-declared-information
              - underage
            verifiedAt:
              description: The date and time of the verification.
              type: string
              format: date-time
          required:
          - provider
          - verifiedAt
      required:
      - code
      - status
      - type
    kyc-screening:
      type: object
      properties:
        code:
          description: The code of the KYC process.
          type: string
        status:
          $ref: '#/components/schemas/kyc-process-status'
        verification:
          $ref: '#/components/schemas/kyc-process-verification'
        output:
          description: Output of the KYC process.
          type: object
          properties:
            result:
              description: The result of the verification.
              type: string
              enum:
              - approved
              - rejected
          required:
          - result
      required:
      - code
      - status
    string-no-edge-spaces:
      type: string
      pattern: ^\S.*\S$|^\S$
    kyc-email:
      type: object
      description: The KYC email object.
      properties:
        code:
          description: The code of the KYC process.
          type: string
        status:
          $ref: '#/components/schemas/kyc-process-status'
        verification:
          $ref: '#/components/schemas/kyc-process-verification'
        input:
          description: Input of the KYC process.
          type: object
          properties:
            email:
              description: The email address that was verified.
              type: string
              format: email
          required:
          - email
        output:
          description: Output of the KYC process.
          type: object
          properties:
            verifiedAt:
              description: The date and time of the verification.
              type: string
              format: date-time
          required:
          - verifiedAt
      required:
      - code
      - status
    kyc-identity-none:
      title: None
      type: object
      properties:
        code:
          description: The code of the KYC process.
          type: string
        status:
          $ref: '#/components/schemas/kyc-process-status'
        type:
          description: The identity submission type.
          type: string
          enum:
          - none
        verification:
          allOf:
          - $ref: '#/components/schemas/kyc-process-verification'
          - type: object
            properties:
              submittable:
                description: Whether this process currently accepts a new submission.
                type: boolean
            required:
            - submittable
      required:
      - code
      - status
    update-kyc-proof-of-address-electronic-verification:
      type: object
      properties:
        type:
          description: The proof-of-address submission type.
          type: string
          enum:
          - electronic-verification
        input:
          description: Input of the KYC process.
          type: object
          properties:
            data:
              description: The declared data used to verify the process.
              type: object
              properties:
                givenName:
                  allOf:
                  - $ref: '#/components/schemas/string-no-edge-spaces'
                  - description: The given name.
                    type: string
                    maxLength: 200
                familyName:
                  allOf:
                  - $ref: '#/components/schemas/string-no-edge-spaces'
                  - description: The family name or surname.
                    type: string
                    maxLength: 200
                address:
                  allOf:
                  - $ref: '#/components/schemas/address-for-request'
                  - type: object
                    required:
                    - country
              required:
              - givenName
              - address
          required:
          - data
        output:
          description: Output of the KYC process.
          type: object
          properties:
            provider:
              allOf:
              - $ref: '#/components/schemas/string-no-edge-spaces'
              - description: The provider used to verify the KYC process.
                type: string
                maxLength: 100
            verifiedAt:
              description: The date and time of the verification.
              type: string
              format: date-time
          required:
          - provider
          - verifiedAt
      required:
      - type
      - input
    kyc-identity:
      discriminator:
        propertyName: type
        mapping:
          none: '#/components/schemas/kyc-identity-none'
          document-submission: '#/components/schemas/kyc-identity-document-submission'
          electronic-verification: '#/components/schemas/kyc-identity-electronic-verification'
      oneOf:
      - title: None
        $ref: '#/components/schemas/kyc-identity-none'
      - title: Document submission
        $ref: '#/components/schemas/kyc-identity-document-submission'
      - title: Electronic verification
        $ref: '#/components/schemas/kyc-identity-electronic-verification'
    kyc-process-input-form:
      description: Input of the KYC process.
      type: object
      properties:
        formId:
          description: The id of the form.
          type: string
        answers:
          description: The answers of the form.
          type: object
          additionalProperties: true
      required:
      - answers
    kyc-risk:
      type: object
      properties:
        code:
          description: The code of the KYC process.
          type: string
        status:
          $ref: '#/components/schemas/kyc-process-status'
        verification:
          $ref: '#/components/schemas/kyc-process-verification'
        output:
          description: Output of the KYC process.
          type: object
          properties:
            result:
              description: The result of the verification.
              type: string
              enum:
              - approved
              - rejected
      required:
      - code
      - status
    update-kyc-identity-document-submission:
      type: object
      properties:
        type:
          description: The identity submission type.
          type: string
          enum:
          - document-submission
        input:
          description: Input of the KYC process.
          type: object
          properties:
            media:
              description: The media that was used to verify the process.
              type: array
              minItems: 1
              maxItems: 10
              items:
                type: object
                properties:
                  context:
                    description: The context of the file.
                    type: string
                    enum:
                    - photo-document-front
                    - photo-document-back
                    - photo-selfie
                    - photo-selfie-and-document-front
                    - video
                  fileId:
                    description: The id of the file.
                    type: string
                    format: uuid
                required:
                - context
                - fileId
          required:
          - media
        output:
          description: Output of the KYC process.
          type: object
          properties:
            provider:
              allOf:
              - $ref: '#/components/schemas/string-no-edge-spaces'
              - description: The provider used to verify the KYC process.
                type: string
                maxLength: 100
            document:
              description: The identity document information.
              type: object
              properties:
                type:
                  description: The type of the document.
                  type: string
                  enum:
                  - driving-license
                  - id-card
                  - passport
                  - residence-permit
                number:
                  allOf:
                  - $ref: '#/components/schemas/string-no-edge-spaces'
                  - description: The number of the document.
                    type: string
                    maxLength: 200
                country:
                  allOf:
                  - $ref: '#/components/schemas/country-code-for-request'
                  - description: The country of the document.
                expiresAt:
                  description: The expiration date of the document.
                  type: string
                  format: date
              required:
              - type
              - number
              - country
            person:
              description: The person information.
              type: object
              properties:
                givenName:
                  allOf:
                  - $ref: '#/components/schemas/string-no-edge-spaces'
                  - description: The person's given name.
                    type: string
                    maxLength: 200
                familyName:
                  allOf:
                  - $ref: '#/components/schemas/string-no-edge-spaces'
                  - description: The person's family name or surname.
                    type: string
                    maxLength: 200
                birthdate:
                  description: The date of birth.
                  type: string
                  format: date
                gender:
                  description: The gender.
                  type: string
                  enum:
                  - female
                  - male
                address:
                  allOf:
                  - $ref: '#/components/schemas/address-for-request'
                  - type: object
                    required:
                    - country
              required:
              - givenName
              - birthdate
            verifiedAt:
              description: The date and time of the verification.
              type: string
              format: date-time
          required:
          - provider
          - document
          - person
          - verifiedAt
      required:
      - type
      - input
    kyc-process-input-form-for-request:
      description: Input of the KYC process.
      type: object
      properties:
        formId:
          description: 'The form identifier returned in the `formId` property of the KYC process hint. Include this value when you need to persist or resume the current form state over an extended period (for example, across user sessions or long-running saves).

            '
          type: string
          format: uuid
        answers:
          description: "The `answers` property follows the [JSON Forms](https://jsonforms.io/) specification for data objects and has two key behaviors:\n1. **Partial or Complete Answers Submission**:\n  - It accepts the answers to the questions of the current step (identified by UI Schema 'Category'). This allows the submission of the responses incrementally, either answering all questions in the current step or just a subset of them.\n\n2. **Form Reset by Answering Previous Questions**:\n  - It also allows for a form reset by accepting one or more answers from a previous step (identified by UI Schema 'Category'). This enables the modification of previous answers, ensuring that the form is flexible and can handle dynamic user interactions.\n\nThe KYC process starts its evaluation once the last question has been answered, ensuring that all necessary information has been provided before proceeding with the assessment.\n"
          type: object
          additionalProperties: true
          minProperties: 1
          maxProperties: 1
      required:
      - answers
    warning:
      description: The warning information.
      allOf:
      - $ref: '#/components/schemas/feedback'
    kyc-identity-document-submission:
      title: Document Submission
      type: object
      properties:
        code:
          description: The code of the KYC process.
          type: string
        status:
          $ref: '#/components/schemas/kyc-process-status'
        type:
          description: The identity submission type.
          type: string
          enum:
          - document-submission
        verification:
          allOf:
          - $ref: '#/components/schemas/kyc-process-verification'
          - type: object
            properties:
              submittable:
                description: Whether this process currently accepts a new submission.
                type: boolean
            required:
            - submittable
        input:
          description: Input of the KYC process.
          type: object
          properties:
            media:
              description: The media that was collected during the process.
              type: array
              items:
                type: object
                properties:
                  context:
                    description: The context of the file.
                    type: string
                    enum:
                    - photo-document-front
                    - photo-document-back
                    - photo-selfie
                    - photo-selfie-and-document-front
                    - video
                  fileId:
                    description: The id of the file.
                    type: string
                    format: uuid
                required:
                - context
                - fileId
          required:
          - media
        output:
          description: Output of the KYC process.
          type: object
          properties:
            provider:
              description: The provider used to verify the KYC process.
              type: string
            providerDetails:
              description: The provider details associated with the verification.
              type: object
              properties:
                reasons:
                  description: The reasons associated with the verification.
                  type: array
                  items:
                    type: string
            reason:
              description: The reason associated with the verification.
              type: string
              enum:
              - data-mismatch
              - duplicate
              - underage
              - provider-verification-rejected
            document:
              description: The identity document information.
              type: object
              properties:
                type:
                  description: The type of the document.
                  type: string
                  enum:
                  - driving-license
                  - id-card
                  - passport
                  - residence-permit
                  - unsupported
                number:
                  description: The number of the document.
                  type: string
                country:
                  description: The country of the document.
                  type: string
                expiresAt:
                  description: The expiration date of the document.
                  type: string
                  format: date
              required:
              - type
              - number
              - country
            person:
              description: The person information.
              type: object
              properties:
                givenName:
                  description: The person's given name.
                  type: string
                familyName:
                  description: The person's family name or surname.
                  type: string
                birthdate:
                  description: The date of birth.
                  type: string
                  format: date
                gender:
                  description: The gender.
                  type: string
                  enum:
                  - female
                  - male
                address:
                  allOf:
                  - $ref: '#/components/schemas/address'
                  - type: object
                    required:
                    - country
              required:
              - givenName
              - birthdate
            verifiedAt:
              description: The date and time of the verification.
              type: string
              format: date-time
          required:
          - provider
          - document
          - person
          - verifiedAt
      required:
      - code
      - status
      - type
    address-for-request:
      description: The address information.
      type: object
      properties:
        country:
          allOf:
          - $ref: '#/components/schemas/country-code-for-request'
          - description: The country of the address.
        subdivision:
          allOf:
          - $ref: '#/components/schemas/subdivision-code-for-request'
          - description: The subdivision of the address.
        city:
          allOf:
          - $ref: '#/components/schemas/string-no-edge-spaces'
          - description: The city of the address.
            type: string
            maxLength: 100
        line1:
          allOf:
          - $ref: '#/components/schemas/string-no-edge-spaces'
          - description: The first line of the address.
            type: string
            maxLength: 150
        line2:
          allOf:
          - $ref: '#/components/schemas/string-no-edge-spaces'
          - description: The second line of the address.
            type: string
            maxLength: 100
        postalCode:
          allOf:
          - $ref: '#/components/schemas/string-no-edge-spaces'
          - description: The postal code of the address.
            type: string
            maxLength: 20
    subdivision-code-for-request:
      type: string
      pattern: ^[A-Z]{2}-[A-Z0-9]{1,3}$
    country-code-for-request:
      type: string
      pattern: ^[A-Z]{2}$
    kyc-proof-of-address-none:
      title: None
      type: object
      properties:
        code:
          description: The code of the KYC process.
          type: string
        status:
          $ref: '#/components/schemas/kyc-process-status'
        type:
          description: The proof-of-address submission type.
          type: string
          enum:
          - none
        verification:
          allOf:
          - $ref: '#/components/schemas/kyc-process-verification'
          - type: object
            properties:
              submittable:
                description: Whether this process currently accepts a new submission.
                type: boolean
            required:
            - submittable
      required:
      - code
      - status
    update-kyc-tax-details-request-body-output:
      description: Output of the KYC process.
      type: object
      properties:
        result:
          description: The result of the verification.
          type: string
          enum:
          - approved
          - rejected
        verifiedAt:
          description: The date and time of the verification.
          type: string
          format: date-time
      required:
      - result
      - verifiedAt
    feedback:
      description: A feedback message with a code and human-readable description.
      type: object
      properties:
        code:
          description: A short string with a brief explanation about the code reported.
          type: string
        message:
          description: A human-readable message providing more details.
          type: string
        details:
          description: Additional information about the feedback reported.
          type: object
          additionalProperties: true
      required:
      - code
      - message
    kyc-process-verification:
      description: Configuration of this process.
      type: object
      properties:
        model:
          description: The verification model to complete this process.
          type: string
          enum:
          - none
          - partner-verified
          - uphold-verified
        method:
          description: Whether this process is verified automatically in the background or requires user action.
          type: string
          enum:
          - automatic
          - manual
        triggers:
          description: Other processes that, once updated, trigger this process to run automatically. Only present when `method` is `automatic`.
          type: array
          items:
            type: string
            enum:
            - profile
            - identity
        dependencies:
          $ref: '#/components/schemas/kyc-process-dependencies'
      required:
      - model
      - method
      - dependencies
    process-verification-rule:
      description: The process verification rule.
      type: object
      properties:
        presence:
          type: string
          enum:
          - required
          - optional
          - disallowed
        editable:
          type: boolean
      required:
      - editable
      - presence
    address:
      description: The address information.
      type: object
      properties:
        country:
          description: The country of the address.
          type: string
        subdivision:
          description: The subdivision of the address.
          type: string
        city:
          description: The city of the address.
          type: string
        line1:
          description: The first line of the address.
          type: string
        line2:
          description: The second line of the address.
          type: string
        postalCode:
          description: The postal code of the address.
          type: string
    kyc-profile:
      type: object
      properties:
        code:
          description: The code of the KYC process.
          type: string
        status:
          $ref: '#/components/schemas/kyc-process-status'
        verification:
          allOf:
          - $ref: '#/components/schemas/kyc-process-verification'
          - type: object
            properties:
              rules:
                type: object
                properties:
                  fullName:
                    $ref: '#/components/schemas/process-verification-rule'
                  birthdate:
                    $ref: '#/components/schemas/process-verification-rule'
                  birthplace:
                    allOf:
                    - $ref: '#/components/schemas/process-verification-rule'
                    - type: object
                      properties:
                        rules:
                          type: object
                          properties:
                            country:
[...]
