{
  "openapi": "3.1.0",
  "info": {
    "version": "0.1.0",
    "title": "Core API",
    "description": "The Core API provides essential building blocks that empower businesses to embed financial services into their applications.",
    "contact": {
      "name": "Uphold API Team",
      "email": "developers@uphold.com",
      "url": "https://developer.uphold.com"
    }
  },
  "servers": [
    {
      "url": "https://api.enterprise.sandbox.uphold.com",
      "description": "Sandbox"
    },
    {
      "url": "https://api.enterprise.uphold.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Authentication."
    },
    {
      "name": "Countries",
      "description": "Countries."
    },
    {
      "name": "Users",
      "description": "Users."
    },
    {
      "name": "KYC",
      "description": "Individual User's KYC."
    },
    {
      "name": "KYB",
      "description": "Business User's KYB."
    },
    {
      "name": "Capabilities",
      "description": "User capabilities."
    },
    {
      "name": "Terms of service",
      "description": "User terms of service."
    },
    {
      "name": "Files",
      "description": "Files."
    },
    {
      "name": "Assets",
      "description": "Assets, networks and rails."
    },
    {
      "name": "Accounts",
      "description": "Accounts."
    },
    {
      "name": "External accounts",
      "description": "External accounts."
    },
    {
      "name": "Transactions",
      "description": "Transactions."
    },
    {
      "name": "Portfolio",
      "description": "Portfolio."
    },
    {
      "name": "Statements",
      "description": "Statements."
    },
    {
      "name": "Metadata",
      "description": "Metadata."
    },
    {
      "name": "Webhooks",
      "description": "Webhooks."
    }
  ],
  "paths": {
    "/core/oauth2/token": {
      "post": {
        "operationId": "core.create-oauth2-token",
        "summary": "Request OAuth2 token",
        "description": "Request an access token using OAuth2 protocol.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/create-oauth2-token-authorization"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/create-oauth2-token-request-body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/create-oauth2-token-response"
          },
          "400": {
            "$ref": "#/components/responses/create-oauth2-token-bad-request-response"
          },
          "401": {
            "$ref": "#/components/responses/create-oauth2-token-unauthorized-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/countries": {
      "get": {
        "operationId": "core.list-countries",
        "summary": "List countries",
        "description": "List countries supported by the platform.",
        "tags": [
          "Countries"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "client",
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-countries-response"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/countries/{country}": {
      "get": {
        "operationId": "core.get-country",
        "summary": "Get country",
        "description": "Retrieve a country by code.",
        "tags": [
          "Countries"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "client",
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/country-code"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-country-response"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/get-country-not-found-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/users": {
      "post": {
        "operationId": "core.create-user",
        "summary": "Create user",
        "description": "Create a new user.",
        "tags": [
          "Users"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "client"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.users:create"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/create-user-request-body"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/create-user-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "$ref": "#/components/responses/create-user-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/users/me": {
      "get": {
        "operationId": "core.get-user",
        "summary": "Get user",
        "description": "Retrieve an existing user.",
        "tags": [
          "Users"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.users:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-user-response"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      },
      "delete": {
        "operationId": "core.delete-user",
        "summary": "Delete user",
        "description": "Delete an existing user.",
        "tags": [
          "Users"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.users:delete"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/delete-user-request-body"
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/delete-user-response"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "$ref": "#/components/responses/delete-user-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/kyc": {
      "get": {
        "operationId": "core.get-kyc-overview",
        "summary": "Get overview",
        "description": "Get the KYC overview of a user.",
        "tags": [
          "KYC"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.kyc:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/get-kyc-overview-detailed"
          },
          {
            "$ref": "#/components/parameters/accept-language"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-kyc-overview-response"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "$ref": "#/components/responses/get-kyc-overview-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/kyc/processes/profile": {
      "patch": {
        "operationId": "core.update-kyc-profile",
        "summary": "Update profile",
        "description": "Update the profile process for a user.",
        "tags": [
          "KYC"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.kyc.profile:update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-kyc-profile-request-body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/update-kyc-profile-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "$ref": "#/components/responses/update-kyc-profile-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/kyc/processes/address": {
      "patch": {
        "operationId": "core.update-kyc-address",
        "deprecated": true,
        "summary": "Update address",
        "description": "Update the address process for a user.",
        "tags": [
          "KYC"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.kyc.address:update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-kyc-address-request-body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/update-kyc-address-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "$ref": "#/components/responses/update-kyc-address-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/kyc/processes/email": {
      "patch": {
        "operationId": "core.update-kyc-email",
        "summary": "Update email",
        "description": "Update the email process for a user.",
        "tags": [
          "KYC"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.kyc.email:update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-kyc-email-request-body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/update-kyc-email-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "$ref": "#/components/responses/update-kyc-email-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/kyc/processes/phone": {
      "patch": {
        "operationId": "core.update-kyc-phone",
        "summary": "Update phone",
        "description": "Update the phone process for a user.",
        "tags": [
          "KYC"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.kyc.phone:update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-kyc-phone-request-body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/update-kyc-phone-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "$ref": "#/components/responses/update-kyc-phone-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/kyc/processes/identity": {
      "patch": {
        "operationId": "core.update-kyc-identity",
        "summary": "Update identity",
        "description": "Update the identity process for a user.",
        "tags": [
          "KYC"
        ],
        "security": [
          {
            "OAuth2": [
              "core.kyc.identity:update"
            ]
          }
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:individual"
              ],
              "includeClient": true,
              "includeClientOwner": true
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-kyc-identity-request-body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/update-kyc-identity-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/update-kyc-identity-not-found-response"
          },
          "409": {
            "$ref": "#/components/responses/update-kyc-identity-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/kyc/processes/proof-of-address": {
      "patch": {
        "operationId": "core.update-kyc-proof-of-address",
        "summary": "Update proof-of-address",
        "description": "Update the proof-of-address process for a user.",
        "tags": [
          "KYC"
        ],
        "security": [
          {
            "OAuth2": [
              "core.kyc.proof-of-address:update"
            ]
          }
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:individual"
              ],
              "includeClient": true,
              "includeClientOwner": true
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-kyc-proof-of-address-request-body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/update-kyc-proof-of-address-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/update-kyc-proof-of-address-not-found-response"
          },
          "409": {
            "$ref": "#/components/responses/update-kyc-proof-of-address-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/kyc/processes/customer-due-diligence": {
      "patch": {
        "operationId": "core.update-kyc-customer-due-diligence",
        "summary": "Update customer due diligence",
        "description": "Update the customer due diligence process for a user.",
        "tags": [
          "KYC"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.kyc.customer-due-diligence:update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accept-language"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-kyc-customer-due-diligence-request-body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/update-kyc-customer-due-diligence-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/update-kyc-customer-due-diligence-not-found-response"
          },
          "409": {
            "$ref": "#/components/responses/update-kyc-customer-due-diligence-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/kyc/processes/enhanced-due-diligence": {
      "patch": {
        "operationId": "core.update-kyc-enhanced-due-diligence",
        "summary": "Update enhanced due diligence",
        "description": "Update the enhanced due diligence process for a user.",
        "tags": [
          "KYC"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.kyc.enhanced-due-diligence:update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-kyc-enhanced-due-diligence-request-body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/update-kyc-enhanced-due-diligence-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/update-kyc-enhanced-due-diligence-not-found-response"
          },
          "409": {
            "$ref": "#/components/responses/update-kyc-enhanced-due-diligence-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/kyc/processes/crypto-risk-assessment": {
      "patch": {
        "operationId": "core.update-kyc-crypto-risk-assessment",
        "summary": "Update crypto risk assessment",
        "description": "Update the crypto risk assessment process for a user.",
        "tags": [
          "KYC"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.kyc.crypto-risk-assessment:update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accept-language"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-kyc-crypto-risk-assessment-request-body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/update-kyc-crypto-risk-assessment-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/update-kyc-crypto-risk-assessment-not-found-response"
          },
          "409": {
            "$ref": "#/components/responses/update-kyc-crypto-risk-assessment-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/kyc/processes/self-categorization-statement": {
      "patch": {
        "operationId": "core.update-kyc-self-categorization-statement",
        "summary": "Update self-categorization statement",
        "description": "Update the self-categorization statement process for a user.",
        "tags": [
          "KYC"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.kyc.self-categorization-statement:update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accept-language"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-kyc-self-categorization-statement-request-body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/update-kyc-self-categorization-statement-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/update-kyc-self-categorization-statement-not-found-response"
          },
          "409": {
            "$ref": "#/components/responses/update-kyc-self-categorization-statement-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/kyc/processes/tax-details": {
      "patch": {
        "operationId": "core.update-kyc-tax-details",
        "summary": "Update tax details",
        "description": "Update the tax details process for a user.",
        "tags": [
          "KYC"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.kyc.tax-details:update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/accept-language"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-kyc-tax-details-request-body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/update-kyc-tax-details-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "$ref": "#/components/responses/update-kyc-tax-details-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/capabilities": {
      "get": {
        "operationId": "core.list-capabilities",
        "summary": "List capabilities",
        "description": "List user capabilities.",
        "tags": [
          "Capabilities"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:individual",
                "user:business"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.capabilities:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-capabilities-response"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/capabilities/{capability}": {
      "get": {
        "operationId": "core.get-capability",
        "summary": "Get capability",
        "description": "Retrieve a user capability by code.",
        "tags": [
          "Capabilities"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:individual",
                "user:business"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.capabilities:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/capability-code"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-capability-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/terms-of-service": {
      "get": {
        "operationId": "core.list-terms-of-service",
        "summary": "List terms of service",
        "description": "List terms of service of the platform.",
        "tags": [
          "Terms of service"
        ],
        "security": [
          {
            "OAuth2": [
              "core.terms-of-service:read"
            ]
          }
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "client",
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/list-terms-of-service-type-filter"
          },
          {
            "$ref": "#/components/parameters/list-terms-of-service-country-code-filter"
          },
          {
            "$ref": "#/components/parameters/list-terms-of-service-user-type-filter"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-terms-of-service-response"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/terms-of-service/{termsOfService}": {
      "get": {
        "operationId": "core.get-terms-of-service",
        "summary": "Get terms of service",
        "description": "Retrieve terms of service by code.",
        "tags": [
          "Terms of service"
        ],
        "security": [
          {
            "OAuth2": [
              "core.terms-of-service:read"
            ]
          }
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "client",
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/terms-of-service-code"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-terms-of-service-response"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/terms-of-service/{termsOfService}/accept": {
      "post": {
        "operationId": "core.accept-terms-of-service",
        "summary": "Accept terms of service",
        "description": "Accept terms of service by code.",
        "tags": [
          "Terms of service"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.terms-of-service:accept"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/terms-of-service-code-excluding-general"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/accept-terms-of-service-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "$ref": "#/components/responses/accept-terms-of-service-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/files": {
      "post": {
        "operationId": "core.create-file",
        "summary": "Create file",
        "description": "Create a new file.",
        "tags": [
          "Files"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.files:create"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/create-file-request-body"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/create-file-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "$ref": "#/components/responses/create-file-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/files/{fileId}": {
      "get": {
        "operationId": "core.get-file",
        "summary": "Get file",
        "description": "Retrieve an existing file by id.",
        "tags": [
          "Files"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.files:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/file-id"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-file-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/get-file-not-found-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/files/settings": {
      "get": {
        "operationId": "core.list-files-settings",
        "summary": "List files settings",
        "description": "List files upload settings.",
        "tags": [
          "Files"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "client",
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.files:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/list-files-settings-file-category-filter"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-files-settings-response"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/assets": {
      "get": {
        "operationId": "core.list-assets",
        "summary": "List assets",
        "description": "List assets supported by the platform.",
        "tags": [
          "Assets"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "client",
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/list-assets-type-filter"
          },
          {
            "$ref": "#/components/parameters/list-assets-sort"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-assets-response"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/assets/_mget": {
      "post": {
        "operationId": "core.get-many-assets",
        "summary": "Get many assets",
        "description": "Retrieve several assets by their codes.",
        "tags": [
          "Assets"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "client",
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/get-many-assets-request-body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-many-assets-response"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/assets/{asset}": {
      "get": {
        "operationId": "core.get-asset",
        "summary": "Get asset",
        "description": "Retrieve an asset by code.",
        "tags": [
          "Assets"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "client",
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/asset-code"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-asset-response"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/get-asset-not-found-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/assets/{asset}/rates": {
      "get": {
        "operationId": "core.get-asset-rates",
        "summary": "Get asset rates",
        "description": "Retrieve asset rates against other assets.",
        "tags": [
          "Assets"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "client",
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/asset-code"
          },
          {
            "$ref": "#/components/parameters/get-asset-rates-denomination-filter"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-asset-rates-response"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/get-asset-rates-not-found-response"
          },
          "409": {
            "$ref": "#/components/responses/get-asset-rates-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/assets/{asset}/historical-rates": {
      "get": {
        "operationId": "core.get-asset-historical-rates",
        "summary": "Get asset historical rates",
        "description": "Retrieve historical rates for a specific asset.",
        "tags": [
          "Assets"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "client",
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/asset-code"
          },
          {
            "$ref": "#/components/parameters/denomination"
          },
          {
            "$ref": "#/components/parameters/asset-historical-rates-interval"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-asset-historical-rate-response"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/get-asset-historical-rate-not-found-response"
          },
          "409": {
            "$ref": "#/components/responses/get-asset-historical-rate-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/networks": {
      "get": {
        "operationId": "core.list-networks",
        "summary": "List networks",
        "description": "List networks supported by the platform.",
        "tags": [
          "Assets"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "client",
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/list-networks-type-filter"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-networks-response"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/networks/{network}": {
      "get": {
        "operationId": "core.get-network",
        "summary": "Get network",
        "description": "Retrieve a network by code.",
        "tags": [
          "Assets"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "client",
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/network-code"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-network-response"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/get-network-not-found-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/networks/{network}/validate-address": {
      "post": {
        "operationId": "core.validate-network-address",
        "summary": "Validate network address",
        "description": "Validate an address for a specific network.",
        "tags": [
          "Assets"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "client",
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/network-code"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/validate-network-address-request-body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/validate-network-address-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/validate-network-address-not-found-response"
          },
          "409": {
            "$ref": "#/components/responses/validate-network-address-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/rails": {
      "get": {
        "operationId": "core.list-rails",
        "summary": "List rails",
        "description": "List rails supported by the platform.",
        "tags": [
          "Assets"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "client",
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/list-rails-type-filter"
          },
          {
            "$ref": "#/components/parameters/list-rails-network-code-filter"
          },
          {
            "$ref": "#/components/parameters/list-rails-method-filter"
          },
          {
            "$ref": "#/components/parameters/list-rails-asset-code-filter"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-rails-response"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/assets/test-helpers/skip-assets-cooldowns": {
      "put": {
        "operationId": "core.skip-assets-cooldowns",
        "summary": "Skip assets cooldowns",
        "description": "Skips assets cooldowns for testing purposes.",
        "tags": [
          "Assets"
        ],
        "x-uphold": {
          "operation": {
            "notImplementedIn": [
              "production"
            ]
          },
          "security": {
            "OAuth2": {
              "subjects": [
                "user:individual",
                "user:business"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.assets:use-test-helpers"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/skip-assets-cooldowns-response"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/accounts": {
      "get": {
        "operationId": "core.list-accounts",
        "summary": "List accounts",
        "description": "List accounts owned by a user.",
        "tags": [
          "Accounts"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.accounts:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/list-accounts-asset-code-filter"
          },
          {
            "$ref": "#/components/parameters/pagination-per-page"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-accounts-response"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      },
      "post": {
        "operationId": "core.create-account",
        "summary": "Create account",
        "description": "Create a new account.",
        "tags": [
          "Accounts"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.accounts:create"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/create-account-request-body"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/create-account-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/asset-not-found-response"
          },
          "409": {
            "$ref": "#/components/responses/create-account-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/accounts/defaults": {
      "get": {
        "operationId": "core.list-default-accounts",
        "summary": "List default accounts",
        "description": "List the default account for each asset owned by a user.",
        "tags": [
          "Accounts"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.accounts:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/list-default-accounts-asset-code-filter"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-default-accounts-response"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/accounts/{accountId}": {
      "get": {
        "operationId": "core.get-account",
        "summary": "Get account",
        "description": "Retrieve an existing account by id.",
        "tags": [
          "Accounts"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.accounts:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/account-id"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-account-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/get-account-not-found-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      },
      "patch": {
        "operationId": "core.update-account",
        "summary": "Update account",
        "description": "Update an existing account.",
        "tags": [
          "Accounts"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.accounts:update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/account-id"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-account-request-body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/update-account-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/update-account-not-found-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      },
      "delete": {
        "operationId": "core.archive-account",
        "summary": "Archive account",
        "description": "Archive an existing account.",
        "tags": [
          "Accounts"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.accounts:archive"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/account-id"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/archive-account-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/archive-account-not-found-response"
          },
          "409": {
            "$ref": "#/components/responses/archive-account-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/accounts/{accountId}/deposit-method": {
      "get": {
        "operationId": "core.get-account-deposit-method",
        "summary": "Get account deposit method",
        "description": "Gets deposit method for depositing into an account externally.",
        "tags": [
          "Accounts"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.accounts:deposit-method"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/account-id"
          },
          {
            "$ref": "#/components/parameters/account-deposit-method-type"
          },
          {
            "$ref": "#/components/parameters/account-deposit-method-asset"
          },
          {
            "$ref": "#/components/parameters/account-deposit-method-network"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-account-deposit-method-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/get-account-deposit-method-account-not-found-response"
          },
          "409": {
            "$ref": "#/components/responses/get-account-deposit-method-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      },
      "put": {
        "operationId": "core.setup-account-deposit-method",
        "summary": "Set up account deposit method",
        "description": "Sets up a deposit method for depositing into an account externally.",
        "tags": [
          "Accounts"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.accounts:deposit-method"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/account-id"
          },
          {
            "$ref": "#/components/parameters/account-deposit-method-type"
          },
          {
            "$ref": "#/components/parameters/account-deposit-method-asset"
          },
          {
            "$ref": "#/components/parameters/account-deposit-method-network"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/setup-account-deposit-method-response"
          },
          "201": {
            "$ref": "#/components/responses/setup-account-deposit-method-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/setup-account-deposit-method-account-not-found-response"
          },
          "409": {
            "$ref": "#/components/responses/setup-account-deposit-method-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/accounts/test-helpers/bank-deposits": {
      "post": {
        "operationId": "core.simulate-bank-deposit",
        "summary": "Simulate bank deposit",
        "description": "Simulate an incoming bank deposit for testing purposes.",
        "tags": [
          "Accounts"
        ],
        "security": [
          {
            "OAuth2": [
              "core.accounts:use-test-helpers"
            ]
          }
        ],
        "x-uphold": {
          "operation": {
            "notImplementedIn": [
              "production"
            ]
          },
          "security": {
            "OAuth2": {
              "subjects": [
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/simulate-bank-deposit-request-body"
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/simulate-bank-deposit-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/simulate-bank-deposit-not-found-response"
          },
          "409": {
            "$ref": "#/components/responses/simulate-bank-deposit-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/accounts/test-helpers/crypto-deposits": {
      "post": {
        "operationId": "core.simulate-crypto-deposit",
        "summary": "Simulate crypto deposit",
        "description": "Simulate an incoming crypto deposit for testing purposes.",
        "tags": [
          "Accounts"
        ],
        "security": [
          {
            "OAuth2": [
              "core.accounts:use-test-helpers"
            ]
          }
        ],
        "x-uphold": {
          "operation": {
            "notImplementedIn": [
              "production"
            ]
          },
          "security": {
            "OAuth2": {
              "subjects": [
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/simulate-crypto-deposit-request-body"
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/simulate-crypto-deposit-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/simulate-crypto-deposit-not-found-response"
          },
          "409": {
            "$ref": "#/components/responses/simulate-crypto-deposit-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/external-accounts": {
      "post": {
        "operationId": "core.create-external-account",
        "summary": "Create external account",
        "description": "Create an external account for the user.",
        "tags": [
          "External accounts"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.external-accounts:create"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/create-external-account-request-body"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/create-external-account-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/create-external-account-not-found-response"
          },
          "409": {
            "$ref": "#/components/responses/create-external-account-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      },
      "get": {
        "operationId": "core.list-external-accounts",
        "summary": "List external accounts",
        "description": "List external accounts for the user.",
        "tags": [
          "External accounts"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.external-accounts:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-external-accounts-response"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      }
    },
    "/core/external-accounts/{externalAccountId}": {
      "get": {
        "operationId": "core.get-external-account",
        "summary": "Get external account",
        "description": "Retrieve an existing external account by id.",
        "tags": [
          "External accounts"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.external-accounts:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/external-account-id"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-external-account-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/get-external-account-not-found-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      },
      "patch": {
        "operationId": "core.update-external-account",
        "summary": "Update external account",
        "description": "Update an existing external account.",
        "tags": [
          "External accounts"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.external-accounts:update"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/external-account-id"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-country"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-subdivision"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-city"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/update-external-account-request-body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/update-external-account-response"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/update-external-account-not-found-response"
          },
          "409": {
            "$ref": "#/components/responses/update-external-account-conflict-response"
          },
          "429": {
            "$ref": "#/components/responses/too-many-requests"
          }
        }
      },
      "delete": {
        "operationId": "core.delete-external-account",
        "summary": "Delete external account",
        "description": "Delete an existing external account.",
        "tags": [
          "External accounts"
        ],
        "x-uphold": {
          "security": {
            "OAuth2": {
              "subjects": [
                "user:business",
                "user:individual"
              ]
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "core.external-accounts:delete"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/external-account-id"
          },
          {
            "$ref": "#/components/parameters/x-on-behalf-of"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-ip"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-agent"
          },
          {
            "$ref": "#/components/parameters/x-uphold-user-origin"
          },
          {
[...]
